@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 0px -2px black, 2px 0px black, 0px 2px black, -2px 0px black;
  }
  .hover-text-shadow:hover {
    text-shadow: 0px 0px 2px black;
  }
  .box-shadow{
    box-shadow: 1px 1px 3px black;
  }
}

@font-face { /* */
    font-family: 'JudulTampilanAwal';
    src: url('./assets/fonts/SuperPixel-m2L8j.ttf'); /* Adjust path */
}
@font-face { /* */
    font-family: 'FontUtama';
    src: url('./assets/fonts/dogicapixel.ttf'); /* Adjust path */
}

body {
    font-family: 'FontUtama', sans-serif; /* Default font */
    margin: 0;
    padding: 0;
    background-color: red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
